// Color Palette
$primary: #1A54B8
$secondary: #D22E05
$surface: #FFFFFF
$background: #f2f2f2

// Font Size
$size-1: 2rem
$size-2: 1.8rem
$size-3: 1.6rem
$size-4: 1.4rem
$size-5: 1.2rem
$size-6: 1rem
$size-7: .8rem

$card-shadow: none
$box-shadow: none

@import "~bulma"

$card-background-color: $surface
$text-on-background: $black
$description-on-background: $grey-darker
$text-on-surface: $black
$description-on-surface: $grey-dark
$container-width: 778px

body
  background-color: $background

.section
  padding: 1rem
  &:not(:first-child)
    padding-top: 2.5rem
  background-color: $background
  h1, h2, h3, h4, h5, h6, .title, p, li
    color: $text-on-background
  p.description
    color: $description-on-background
  @include mobile
    padding: 1rem 0
  &.bc-surface
    background-color: $surface
    h1, h2, h3, h4, h5, h6, .title, p, li
      color: $text-on-surface
    p.description
      color: $description-on-surface

  .container
    width: 100%
    max-width: $container-width
    &:nth-of-type(n+2)
     margin-top: $block-spacing * 2
    
    .box
      width: 100%
      border-radius: 0
      background-color: $surface
      padding: 2rem
      @include mobile
        padding: $block-spacing 1rem
      h1, h2, h3, h4, h5, h6, .title, p, li
        color: $text-on-surface
      p.description
        color: $description-on-surface
      &.bc-background
        background-color: $background
        h1, h2, h3, h4, h5, h6, .title, p, li
          color: $text-on-background
        p.description
          color: $description-on-background

h3
  color: blue

.content
  h1
    font-size: 1.75rem
    @include mobile
      font-size: 1.6rem
  h2
    font-size: 1.6rem
    @include mobile
      font-size: 1.48rem 
  h3
    font-size: 1.45rem !important
    @include mobile
      font-size: 1.36rem
  h4
    font-size: 1.3rem
    @include mobile
      font-size: 1.24rem
  h5
    font-size: 1.15rem
    @include mobile
      font-size: 1.12rem
  h6
    font-size: 1.0rem
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child), 
  h5:not(:first-child),
  h6:not(:first-child)
    margin-top: 2rem
    margin-bottom: $block-spacing
  ul
    &:not(:first-child)
      margin-top: 2rem
    &:not(:last-child)
      margin-bottom: 2rem
    li + li
      margin-top: .75rem

.section-footer
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  margin-top: calc(#{$block-spacing} / 2)
  margin-bottom: calc(#{$block-spacing} / 2)

nav.breadcrumb
  margin-left: $block-spacing * -1
  @include mobile 
    margin-left: 0
  li
    > a
      display: inline-block
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis 
      @include mobile
        max-width: 327px

.page-cover
  &.with-background-image
    background-size: cover
    background-position: center
    &.background-image-dark
      overflow: hidden
      position: relative
      z-index: 0
      &::before
        content: ''
        position: absolute
        top: -5px
        bottom: -5px
        left: -5px
        right: -5px
        background: inherit
        filter: blur(3px) brightness(0.6)
        z-index: -1
  .title
    background-color: $secondary
    color: $white
    display: inline-block
    padding: .25rem .5rem
    font-size: $size-3
    @include mobile
      font-size: $size-5
  .subtitle
    margin-top: $block-spacing
    color: $white
    font-size: $size-6
    font-weight: $weight-semibold
    @include mobile
      font-size: $size-6

.thumbnail
  width: 120px !important
  height: 120px !important
  object-fit: cover
  border-radius: $radius
  @include mobile
    width: 80px !important
    height: 80px !important

.page-header
  width: 100%
  margin-bottom: $block-spacing

footer.footer
  margin-top: 2rem
  > nav
    margin-top: calc(#{$block-spacing} / 2)
    margin-bottom: calc(#{$block-spacing} / 2)
    > ul
      display: flex
      flex-direction: row
      justify-content: center
      list-style: none
      flex-wrap: wrap
      > li
        margin-top: .5rem
        display: block
      > li::before
        content: "\200B"
      > li:nth-child(n+2)
        margin-left: $block-spacing
  .copyright
    margin-top: calc(#{$block-spacing} / 2)
    margin-bottom: calc(#{$block-spacing} / 2)

article.article
  width: 100%
  max-width: $container-width
  &.box
    padding: $block-spacing
    @include mobile
    border-radius: 0px
  .article-body:not(:first-child)
    margin-top: $block-spacing


.footnote
  font-size: $size-7
  color: $text-light

.icon-btn
  background: none
  border: none

// Button component
button
  &.navbar-item
    background: none
    border: none
    font-size: $size-normal
    color: $text
    cursor: pointer
    &:focus,
    &:focus-within
    &:hover,
    &.is-active
      background-color: $navbar-item-hover-background-color
      color: $navbar-item-hover-color
  :disabled
    opacity: 0.5
  &.is-dark
    background-color: $dark
    color: $white

// BookCarousel component
ul.carousel-list
  list-style: none
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-right: $block-spacing
  padding-left: $block-spacing
  @include mobile
    display: block
    overflow-x: auto
    white-space: nowrap
    -webkit-overflow-scrolling: touch
    -ms-overflow-style: none
    scrollbar-width: none
    width: 100vw
    padding-left: 2rem
    &::-webkit-scrollbar
      display: none

  li.carousel-item
    display: inline-block
    a, span.disabled-link
      display: inline-flex
      flex-direction: column
      .book-info
        width: 150px
        margin-top: 4px
        span.book-price
          font-size: $size-normal
        span.book-title
          margin-top: 4px
          font-size: $size-small
          font-weight: $weight-semibold
          display: -webkit-box
          -webkit-box-orient: vertical
          -webkit-line-clamp: 2
          overflow: hidden
          white-space: normal
      img
        border-radius: $radius
    a
      color: $text
      &:hover
        color: $link
    span.disabled-link
      color: $text-light
  li.carousel-item:nth-child(n+2)
    margin-left: $block-spacing

// Book Image component
.book-image-figure
  display: inline-block

.book-image
  width: 120px
  height: 160px
  object-fit: cover
  border-radius: $radius

ul.book-list
  margin-top: $block-spacing
  margin-bottom: $block-spacing
  img
    border-radius: $radius
  li
    .book-article
      display: flex
      flex-direction: row
      @include mobile
        flex-direction: column
        align-items: center
      .book-image
        flex: none
        margin-right: 1rem
        @include mobile
         margin-bottom: 1rem
    nav
      margin-top: 1rem

// ArticleList
ul.article-list
  width: 100%
  li
    a
      color: $text
      &:hover
        color: $link
      .article-title
        font-size: $size-5
        font-weight: $weight-semibold
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        overflow: hidden
        @include mobile
          font-size: $size-6
      .article-excerpt
        font-size: $size-6
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        overflow: hidden
        @include mobile
          font-size: $size-7

// Featured Header
header.featured-header
  margin-bottom: 0 !important

// Featured Text List
ul.featured-text-list
  margin-top: calc(#{$block-spacing} / 2)
  margin-bottom: calc(#{$block-spacing} / 2)
  display: inline-block
  > li
    display: flex
    flex-direction: center
    line-height: 2rem
    font-weight: $weight-bold
    color: $text-on-surface
    &:before
      content: ""
      display: inline-block
      flex: none
      width: 2rem
      height: 2rem
      background: url('../images/star-list-icon.svg') no-repeat
      background-size: contain
    &:nth-child(n+2)
      margin-block-start: 1rem

// Form
.field-header
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: .5rem
  label
    margin-bottom: 0 !important
  > *:nth-child(n+2)
    margin-left: .5rem

// TextBadge
.text-badge
  display: block
  font-size: .7rem
  padding: .25rem .5rem
  border-radius: $radius
  line-height: 1.5
  font-weight: $weight-semibold
  &.is-primary
    color: $white
    background-color: $primary
  &.is-secondary
    color: $white
    background-color: $secondary
  &.is-dark
    color: $white
    background-color: $grey-dark
  &.is-light
    color: $white
    background-color: $grey-light

// Helpers
.is-flex-dir-row
  flex-direction: row
.is-flex-dir-column
  flex-direction: column
.has-flex-item-centered
  align-items: center